name: Build Java

on: [push]

jobs:
  build-java:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Config
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Compile
        run: |
          mkdir -p out
          javac -d out src/Main.java

      - name: Run
        run: |
          java -cp out Main